<%= form_for @observation, html: { multipart: true }  do |f| %>
  <% if @observation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@observation.errors.count, "error") %> prohibited this observation from being saved:</h2>
      <ul>
      <% @observation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='obs-form-title'>
    <h1>New Observation</h1>
    <%= link_to 'Back', observations_path, class: 'button' %>
  </div>
  <div id="map" style="height:300px;"></div>
  <div class="obs-form-heading"><span class='title-span'>1</span>Upload a picture of your lighting observation</div>
  <div class="obs-form-group">
    <%= f.label :file, class: 'input-label' %>
    <%= f.file_field :attachment, accept: 'image/*' %>
  </div>
  <div class="obs-form-heading"><span class='title-span'>2</span>Enter observation details</div>
  <div class="obs-form-group">
    <div class="field">
      <%= f.label :lighting_type, class: 'input-label' %>
      <%= f.select(:lighting_type, options_for_select([['Street lamp', 'street'], ['Bus stop','bus'], ['Retail/Industry', 'retail_industry'], ['Car park', 'car_park'], ['Advertising - General', 'advertising_general'], ['Other', 'other']], 'street')) %>
    </div>
    <div class="field">
      <%= f.label :note %>
      <%= f.text_area :note %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :I_provide_my_consent_for_this_image_to_be_used_as_part_of_this_study %>
      <%= f.check_box :permission_given, :required => true %>
    </div>
  </div>
  <div class="field-hidden">
    <%= f.label :observed_at %>
    <%= f.datetime_select :observed_at %>
  </div>
  <div class="field-hidden">
    <%= f.label :recorder_location, class: 'input-label' %>
    <%= f.text_field :recorder_location %>
  </div>
  <div class="field-hidden">
    <%= f.label :recorder_location_data, class: 'input-label' %>
    <%= f.text_field :recorder_location_data %>
  </div>
  <div class="field-hidden">
    <%= f.label :image_exif %><br>
    <%= f.text_field :image_exif %>
  </div>
  <div class="field-hidden">
    <%= f.label :session_id %><br>
    <%= f.text_field :session_id %>
  </div>
  </div>
  <div class="obs-form-heading"><span class='title-span'>3</span>Create new observation</div>
  <div class="obs-form-group">
    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>
