<%= form_for @observation, html: { multipart: true }  do |f| %>
  <% if @observation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@observation.errors.count, "error") %> prohibited this observation from being saved:</h2>
      <ul>
      <% @observation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='obs-form-title'>
    <h1>Record a Lighting Observation</h1>
    <%= link_to 'Home', root_path, class: 'button-small' %>
    <%= link_to 'All Observations', observations_path, class: 'button-small' %>
  </div>
  <div id="map" class="form-map" style="height:300px;"></div>
  <div class="obs-form-heading"><span class='title-span'>1</span>Take or upload a picture of your lighting observation</div>
  <div class="obs-form-group">
    <div class="flex-outer">
      <div class="flex-left">
        <div class="fileinput fileinput-new" data-provides="fileinput">
          <!-- <button id="cover" onclick="document.getElementById('observation_attachment').click(); return false;" >Click here to take a photo or upload a file </button> -->
          <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
            <img id='thumbnail-src' data-src="holder.js/100%x100%" alt="...">
          </div>
          <%= f.file_field :attachment, accept: 'image/*' %>
          <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
          <div>
            <span class="btn btn-default btn-file" id="input-button" onclick="document.getElementById('observation_attachment').click(); return false;"  ><span class="fileinput-new">Take or upload a photo</span><span class="fileinput-exists">Change</span></span>
            <%= link_to "Remove", "#", class: "btn fileupload-exists", "data-dismiss" => "fileinput" %>
          </div>
        </div>

      </div>

      <figure class="flex-right">
        <figcaption id="upload-caption">Try to include the light, and some of the surrounds in your image.</figcaption>
        <img width="50%" height="50%" src="<%= image_path('example_snapshot.jpg') %>" />
      </figure>
    </div>
  </div>
  <div class="obs-form-heading"><span class='title-span'>2</span>Enter observation details</div>
  <div class="obs-form-group">
    <div class="field">
      <%= f.label :lighting_type, class: 'input-label' %>
      <%= f.select(:lighting_type, options_for_select(Observation::AVAILABLE_LIGHTING_TYPES, 'street')) %>
    </div>
    <div class="field">
      <%= f.label :note %>
      <%= f.text_area :note %>
      <p>Please describe anything notable about the light source.</p>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email, placeholder: '(Optional)'%>
      <p>We will never share your email address.</p>
    </div>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: '(Optional)' %>
      <p>Names are publicly visible on your recorded observations.</p>
    </div>
    <div class="field">
      <%= f.label :permission_given, "I consent to having this image used as part of this study." %>
      <%= f.check_box :permission_given, :required => true %>
    </div>
    <div class="field-hidden">
      <%= f.label :observed_at %>
      <%= f.datetime_select :observed_at %>
    </div>
    <div class="field-hidden">
      <%= f.label :recorder_location, class: 'input-label' %>
      <%= f.text_field :recorder_location %>
    </div>
    <div class="field-hidden">
      <%= f.label :recorder_location_data, class: 'input-label' %>
      <%= f.text_field :recorder_location_data %>
    </div>
    <div class="field-hidden">
      <%= f.label :image_exif %><br>
      <%= f.text_field :image_exif %>
    </div>
    <div class="field-hidden">
      <%= f.label :session_id %><br>
      <%= f.text_field :session_id %>
    </div>
  </div>
  <div class="obs-form-heading"><span class='title-span'>3</span>Upload your observation</div>
  <div class="obs-form-group">
    <div id="loader">
      <figure class="content" id='loading-gears'>
        <figcaption id="upload-caption">Your file is uploading!</figcaption>
        <img width="50px" id="gears" height="50px" src="<%= image_path('gears.svg') %>" />
      </figure>
    </div>
    <div class="actions" onclick="checkPermissionAndToggle('loading-gears');">
      <%= f.submit "Upload", id: 'upload-button'%>
    </div>
  </div>
<% end %>
