<%= form_for @observation, html: { multipart: true }  do |f| %>
  <% if @observation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@observation.errors.count, "error") %> prohibited this observation from being saved:</h2>
      <ul>
      <% @observation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='obs-form-title'>
    <h1>Record a Lighting Observation</h1>
    <%= link_to 'Go Back', root_path, class: 'button' %>
  </div>
  <div id="map" class="form-map" style="height:300px;"></div>
  <div class="obs-form-heading"><span class='title-span'>1</span>Take a picture of your lighting observation</div>
  <div class="obs-form-group">
    <div class="row">
      <div class="col6">
        <%= f.label :file, class: 'input-label' %>
        <%= f.file_field :attachment, accept: 'image/*' %>
      </div>

      <div class="col6">
        <p>Try to include the light, and some of the surrounds in your image.</p>
        <img width="25%" height="25%" src="<%= image_path('example_snapshot.jpg') %>" />
      </div>
    </div>

  </div>
  <div class="obs-form-heading"><span class='title-span'>2</span>Enter observation details</div>
  <div class="obs-form-group">
    <div class="field">
      <%= f.label :lighting_type, class: 'input-label' %>
      <%= f.select(:lighting_type, options_for_select(Observation::AVAILABLE_LIGHTING_TYPES, 'street')) %>
    </div>
    <div class="field">
      <%= f.label :note %>
      <%= f.text_area :note %>
      <p>Please describe anything notable about the light source.</p>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email, placeholder: '(Optional)'%>
      <p>We will never share your email address.</p>
    </div>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: '(Optional)' %>
      <p>Names are publicly visible on your recorded observations.</p>
    </div>
    <div class="field">
      <%= f.label :permission_given, "I consent to having this image used as part of this study." %>
      <%= f.check_box :permission_given, :required => true %>
    </div>
    <div class="field-hidden">
      <%= f.label :observed_at %>
      <%= f.datetime_select :observed_at %>
    </div>
    <div class="field-hidden">
      <%= f.label :recorder_location, class: 'input-label' %>
      <%= f.text_field :recorder_location %>
    </div>
    <div class="field-hidden">
      <%= f.label :recorder_location_data, class: 'input-label' %>
      <%= f.text_field :recorder_location_data %>
    </div>
    <div class="field-hidden">
      <%= f.label :image_exif %><br>
      <%= f.text_field :image_exif %>
    </div>
    <div class="field-hidden">
      <%= f.label :session_id %><br>
      <%= f.text_field :session_id %>
    </div>
  </div>
  <div class="obs-form-heading"><span class='title-span'>3</span>Upload your observation</div>
  <div class="obs-form-group">
    <div class="actions">
      <%= f.submit "Upload" %>
    </div>
  </div>
<% end %>
