<div class='container new_observation'>

  <div class='obs-form-title'>
    <h1>New Observation created:</h1>
    <%= link_to 'Back', observations_path, class: 'button' %>
  </div>
  <p id="notice"><%= notice %></p>
  <p>Created at: <%= @observation.observed_at %></p>
  <!-- <p class='obs-form-title'>
    <strong>New observation created:</strong>
    <%= @observation.observed_at %>
    <%= link_to 'Back', observations_path, class: 'button' %>
  </p> -->
  <span class='right'>
    <caption>Your observation</caption>
    <p>
      <%= image_tag @observation.attachment.resized.url %>
    </p>
  </span>
  <span class='left'>
    <p>You have submitted the following observation:</p>
    <p>
      <strong>Lighting type:</strong>
      <%= @observation.lighting_type %>
    </p>

    <p>
      <strong>Note:</strong>
      <%= @observation.note %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @observation.email %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @observation.name %>
    </p>
    <br />
    <p>Thank you for contributing to the Mapping Lighting project.</p>
  </span>
</div>
