<div class='new_observation'>
  <div class='obs-form-title'>
    <h1>Current observation details</h1>
    <%= link_to 'Home', root_path, class: 'button-small' %>
    <%= link_to 'All Observations', observations_path, class: 'button-small' %>
  </div>
  <div class="flex-outer">
    <span class='flex-right'>
      <p>Created at: <%= @observation.observed_at %></p>
      <p>You have submitted the following observation:</p>
      <p>
        <strong>Lighting type:</strong>
        <%= @observation.lighting_type %>
      </p>

      <p>
        <strong>Note:</strong>
        <%= @observation.note_display %>
      </p>

      <p>
        <strong>Location:</strong>
        <%= @observation.lat_lng_display %>
      </p>
      <br />
      <p>Thank you for contributing to the Mapping Lighting project.</p>
    </span>
    <span class='flex-left'>
      <caption>Your observation</caption>
      <p>
        <%= image_tag @observation.attachment.resized.url %>
      </p>
      <p>
       <div id="map" style="height:300px;"></div>
      </p>
    </span>
  </div>
</div>
