<div class="navbar navbar-default" role="navigation">
  <!-- <a href= "#" class="navbar-brand">Mapping Lighting</a> -->
  <div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  </div>
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav pull-right">
      <li class='menu'><%= link_to 'Home', root_path %></li>
      <li class='menu'><%= link_to 'New Observation', new_observation_path %></li>
      <li class='menu'><%= link_to 'All observations', observations_path %></li>
      <%= render :partial => "shared/admin_login" if !user_signed_in? %>
      <%= render :partial => "shared/admin_nav" if user_signed_in? %>
    </ul>
  </div>
</div>
